// Define prefix
$prefix: plasmium- !important;
$variables-prefix: $prefix  !important;

// Neumorphism shadow setting
$default_shadow_distance: "normal";
$default_shadow_intensity: "normal";
$default_shadow_type: "raised";
$default_shadow_direction: "direction";

// Colors
$primary: #7188B4;
$secondary: #CEC3B3;
$success: #65de20;
$error: #fe3e1c;
$warning: #ffc800;
$info: #00c8ff;
$base: #F0F0F0;